@import "tailwindcss";

@theme {
  --font-sans: "Open Sans", sans-serif;

  --color-green-200: #1f8459;
  --color-green-100: #2cb178;

  --color-gray-500: #1f2523;
  --color-gray-400: #4d5c57;
  --color-gray-300: #cdd5d2;
  --color-gray-200: #e4ece9;
  --color-gray-100: #f9fbfa;
}

body {
  @apply bg-gray-200 antialiased;
}
